/* 
    Created on : 04 Apr 15, 18:50:45
    Author     : ivan lubis <ivan.z.lubis@gmail.com>
*/

.login-panel {
    margin-top: 50% ;
}

table#dataTables-list thead {
    font-size: 12px;
}
table#dataTables-list tbody {
    font-size: 11px;
}
table#dataTables-list tbody tr.selected {
    background-color: #ccc;
}
table#dataTables-list tbody tr td.details-control {
    cursor: pointer;
    text-align: center;
}
.panel-body.detailer-form-body {
    background-color: #f7f7f7;
}
.panel-body form .checkbox, .radio {
    margin-top: 0;
}
.error {
    color: red;
}
/* overide class input file image */
.fileinput {
    display: block ;
}
.checkbox label.auth-menu {
    padding-left: 0;
}
.fileinput .fileinput-upload {
    position: relative;
}
.fileinput .fileinput-upload #delete-picture {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
}

.tab-content .tab-pane {
    padding: 20px;
}

img.img-sitelogo {
    margin: 0 auto;
}
.input-group-addon.blocked {
   color: #c2c2c2 !important; /* The important overrides the settings from bootstrap */
   cursor: not-allowed !important;
}

.control-label.text-left {
    text-align: left !important;
}
.control-label.text-right {
    text-align: right !important;
}
.control-label.text-center {
    text-align: center !important;
}
.no-show {
    display: none;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
form .row-files {
    border-bottom: 1px solid #000;
}
.top-cursor {
    margin-bottom: 40px;
}
.input-group.datetime .input-group-addon {
    cursor: pointer;
}
.footer {
    margin-top: 20px;
    margin-bottom: 40px;
}
