/* 
    Created on : 04 Apr 15, 18:50:45
    Author     : ivan lubis <ivan.z.lubis@gmail.com>
*/

.error {
    color: red;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
#home-slider.carousel {
    width: 80%;
    margin: 0 auto;
}
.footer {
    margin-top: 20px;
    margin-bottom: 40px;
}
